<div class="">
  <div class="well row text-center" style="position: relative; top: 25px;">
    <img src="http://images.nationalgeographic.com/wpf/media-live/photos/000/063/cache/northern-spotted-owl_6327_990x742.jpg" alt=""/>
  </div>
</div>
